:root {
    --primary-color: #1D52F2;
    --secondary-color: #809DF2;
    --text-color: #212226;
    --accent-color: #1d64f2e3;
    --background-color: #F2F2F2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 1rem 2rem;
}

h1{
    width: 26rem;
    height: auto;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 8px;
    color: white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    width: 26rem;
    height: auto;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin: 1rem 0rem;
}

label{
    font-weight: bold;
    margin-bottom: 0.2rem; 
}

#prioridad {
    margin: 1rem 0rem;
    display: flex;
}

#prioridad-label {
    display: flex;
    justify-content: space-evenly;
}

input, select, textarea, button{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

select:hover {
    box-shadow: 0 0 10px var(--secondary-color)
}

input:focus, textarea:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}

table {
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 26rem;
    border-collapse: collapse;
}
th {
    background-color: var(--primary-color);
    color: white;
    padding: 0.8rem 1rem;
    text-align: center;
}

td {
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.divs-table {
    display: inline-block;
    box-sizing: border-box;
}

button {
    background-color: var(--text-color);
    color: white;
    margin-top: 0.5rem;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accent-color);
}

#mensaje {
    color: red;
    margin-top: 1rem;
}
