:root {
    --blue-dark: #0A1A3A; 
    --withe: #ffffff;
    --black: #000516;
    --blue-primary: #144099; 
    --blue-light: #ecf1ff;   
    background: linear-gradient(
    to bottom,
    #000000 0%,
    #060d22 50%,
    #000000 100%
    );
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-family: sans-serif;
    color: var(--blue-light);
    min-height: 100vh;
    background-attachment: fixed;
    padding: 1rem;
}

header {
    width: 26rem;
}

header form button {
    max-width: 100%;
}

h1{
    max-width: 100%;
    background-color: var(--blue-primary);
    padding: 0.5rem;
    border-radius: 8px 8px 0px 0px;
    color: var(--withe);
}

#formSearch {
    border-radius: 0px 0px 8px 8px;
}

#searchFilter, .btn-outline-success{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--blue-dark);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 10px 10px var(--black);
    width: 26rem;
    height: auto;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin: 1rem 0rem;
}

label{
    font-weight: bold;
    margin-bottom: 0.2rem; 
}

#prioridad-label {
    display: flex;
    justify-content: space-evenly;
    width: 14rem;
}

input, select, textarea, button{
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    background-color: #00000038;
    color: var(--blue-light);
}

table {
    background-color: var(--blue-dark);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    border-radius: 8px; 
}

th {
    background-color: var(--blue-primary);
    color: var(--withe);
    padding: 0.5rem 0rem;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s ease;  
    display: block;
    min-width: 26rem;
    
}

td {
    padding: 0.5rem 1rem;
    max-width: 18rem;
    border-radius: 8px;
    margin: 0.5rem;
    display: block;
    min-width: 26rem;
}

#scroll {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #3c4469 transparent;
}
button {
    background-color: var(--black) ;
    color: white;
    margin: 0.1rem 0rem;
    border: none;
    cursor: pointer; 
    width: 90%;
    transition: background-color 0.8s ease;
}

button:hover {
    background-color:var(--blue-primary);
}

#mensaje {
    color: orange;
    margin-top: 1rem;
}

@media (max-width: 600px) {

    header {
        width: 100%;
    }

    form {
        width: 100%;
        padding: 1.5rem;
    }

    .label-container {
        text-align: center;
        width: 100%;
    }

    input,
    select,
    textarea,
    button {
        width: 100%;
        font-size: 1rem;
        margin: 0.1rem 0rem;
    }

    #prioridad-label {
        width: 100%;
    }

    table {
        max-width: 100%;
    }

    th,
    td {
        min-width: 100%;
        
    }
}




