:root {
    --primary-color: #1D52F2;
    --secondary-color: #809DF2;
    --text-color: #212226;
    --accent-color: #1d64f2e3;
    background: linear-gradient(
    to bottom,
    #1d52f22f 0%,
    #809df21f 50%,
    #F2F2F2 100%
    );
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    font-family: sans-serif;
    color: var(--text-color);
    min-height: 100vh;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header h1{
    min-width: 80%;
}

header form{
    display: flex;
    flex-direction: row;  
    min-width: 20%;
}

h1{
    min-width: 100%;
    height: auto;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    color: white;
    box-shadow: 0px 10px 8px rgba(0,0,0,0.1);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    width: 26rem;
    height: auto;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin: 1rem 0rem;
}

label{
    font-weight: bold;
    margin-bottom: 0.2rem; 
}

#prioridad {
    margin: 1rem 0rem;
    display: flex;
}

#prioridad-label {
    display: flex;
    justify-content: space-evenly;
    width: 14rem;
}

input, select, textarea, button{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

select:hover {
    box-shadow: 0 0 10px var(--secondary-color)
}

input:focus, textarea:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
}

table {
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    border-radius: 8px; 
}

th {
    background-color: var(--accent-color);
    color: white;
    padding: 1rem 0rem;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s ease;  
    display: block;
    min-width: 26rem;
    
}

th:hover {
    background-color: var(--text-color);
}

td {
    padding: 0rem 1rem;
    max-width: 18rem;
    color: rgb(0, 0, 0); 
    border-radius: 8px;
    margin: 0.5rem;
    display: block;
    min-width: 26rem;
}

#scroll {
    overflow-x: scroll;
}

button {
    background-color: var(--text-color);
    color: white;
    margin: 0.5rem;
    border: none;
    cursor: pointer; 
    width: 90%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accent-color);
}

#mensaje {
    color: red;
    margin-top: 1rem;
}



